* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  animation-name: changeColor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

h1 {
  font-size: 24px;
  color: rgb(122, 20, 20);
}

@media (min-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

@keyframes changeColor {
  from {
    background: rgb(255, 150, 167);
  }
  to {
    background: rgb(255, 190, 69);
  }
}
